<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Label and input parameterized fragment</title>
</head>
<body>
    <div th:fragment="inputFunksjon (type, name, id)">
        <label th:for="${name}" th:text="${name}" for="description">Description</label>
        <input
                th:type="${type}"
                class="form-control"
                th:id="${id}"
                th:field="*{__${id}__}"
                th:placeholder="'Enter ' + ${name}"
        />
    </div>
</body>
</html>