<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Progit Thymeleaf TODO</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<header th:insert="page-header.html :: header"></header>
			<div class="row">
				<div class="col-md-8">
					<h2>TODO's</h2>
					<ul th:each="todo: ${todos}" class="list-group">
						<li class="list-group-item">
							<p th:text="'ID: ' + ${todo.id}">ID: 123</p>
							<p th:text="'Description: ' + ${todo.description}">Description: 123</p>
							<p th:text="'Finished: ' + ${todo.finished}">Finished: 123</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<a href="add-todo.html" th:href="@{todo/add}">
						<button type="button" class="btn btn-link">Add a new TODO</button>
					</a>
				</div>
			</div>
			<div th:if="${addTodoSuccess}" class="row">
				<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
					<div class="card-header">Success</div>
					<div class="card-body">
						<h5 class="card-title">Todo successfully added</h5>

						<p th:text="'id: ' + ${savedTodo.id}" class="card-text">Id: 4444</p>
						<p th:text="'description: ' + ${savedTodo.description}" class="card-text">Description: 4444</p>
						<p th:text="'finished: ' + ${savedTodo.finished}" class="card-text">Finished: false</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
